:root {
  --nav-height: 56px;
}
body {
  background-color: #121212;
}

.nav-item-div {
  height: calc(var(--nav-height) * 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.MuiAvatar-root {
  cursor: pointer;
}

.video-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.video-info {
  padding-left: 15px;
}

.list-tile-cont {
  display: flex;
}
